<div class="place-info">
  <dl>
    <% if place.icon.present? %>
      <dt></dt><dd><%= image_tag(place.icon) %></dd>
    <% end %>
    <dt>Name</dt><dd><%= place.name %></dd>
    <dt>Address</dt><dd><%= place.formatted_address %></dd>
    <% if place.formatted_phone_number.present? %>
      <dt>Phone</dt>
      <dd><%= place.formatted_phone_number %></dd>
    <% end %>
    <% unless place.types.empty? %>
      <dt>Types</dt>
      <dd>
        <ul>
          <% place.types.each do |t| %>
            <li><%= t.titleize %></li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <dt>Google Place URL</dt>
    <dd><%= link_to(place.name, place.url) %></dd>
  </dl>



</div>