<%= form_for_filterrific @filterrific, html: { id: "filterrific-no-ajax-auto-submit" } do |f| %>
  <fieldset>
    <legend>Filter</legend>
    <div>
      Id
      <%= f.text_field :id_query, type: :number %>
    </div>
    <div>
      Person (username)
      <%= f.text_field :person_username_query %>
    </div>
    <div>
      Room
      <%= f.text_field :room_query %>
    </div>
    <div>
      Body
      <%= f.text_field :body_query %>
    </div>
    <div>
      Reported?
      <%= f.select(
              :with_reported_status,
              @filterrific.select_options[:with_reported_status]
          )
      %>
    </div>
    <div>
      <%= f.submit "Filter", class: "button" %>
    </div>
  </fieldset>
<% end %>
