- field.translations(true) # fetch translations and memoize them
- key = field.abstract_model.model_name.parameterize

.controls
    .globalize-errors
        = form.errors_for(field)
    %ul.nav.nav-tabs{ :style => 'margin-top:5px' }
        - field.available_locales.each do |locale|
            - klass = "localized-pane-#{field.name}-#{locale.first}-#{key}-#{form.object.id}"
            %li{ class: ( 'active' if locale.first.to_sym == field.current_locale ) }
                %a{ href: "#", data: { toggle: "tab",  target: ".#{klass}:first"} }= locale.last
.tab-content
    - field.available_locales.each do |locale|
        - klass = "localized-pane-#{field.name}-#{locale.first}-#{key}-#{form.object.id}"
        .fields.tab-pane{ class: "#{klass} #{'active' if locale.first.to_sym == field.current_locale}" }
            = form.text_area "#{field.name}][#{locale.first}", field.html_attributes.reverse_merge(data: { richtext: false, options: {}.to_json }).reverse_merge({ value: field.form_value[locale.first], class: 'form-control', required: field.required })

.globalize-help
= form.help_for(field)
