<!DOCTYPE html>
<html>
  <head>
    <title>Fanlink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for?(:head) ? yield(:head) : '' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
